.pt5 {
  padding-top: 75px;
  height: 800px;
}
@media only screen and (max-width: 768px) {
  .pt5 {
    padding-top: 200px;
    height: 1000px;s
  }
  .mapouter {
    height: 450px;
    width: 600px;
  }
}a
.mimg {
  height: 300px;
  width: 400px;
  object-fit: cover;
}
.nav-bar {
  background-color: rgba(34, 34, 34, 0.9);
}

@media only screen and (min-width: 768px) {
  .mapouter {
    height: 200px;
    width: 200px;
  }
  .gmap_canvas {
    height: 200px;
    width: 200px;
  }
}
